h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: rgb(27, 27, 27);
    text-indent: 20px;
}

div {
    margin: 20px;
    height: 150px;
    width: 500px;
    border: 2px solid rgb(27, 27, 27);
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
    align-content: center;
}

p {
    margin: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    color: rgb(27, 27, 27);
    text-align: center;
    line-height: 25px;
}